<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API Access Token</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <main>
        <h1>API Access Token</h1>
        <p>
            Send the <code>{{ api_header }}</code> header with every API
            request:
        </p>
        {% if token %}
        <div class="token-row">
            <div class="token" id="token">{{ api_header }}: {{ token }}</div>
            <button id="copy" type="button">Copy</button>
        </div>
        {% else %}
        <div class="error">
            No access token found. This page must be under the same Cloudflare
	    API application.
        </div>
        {% endif %}
    </main>
    <script src="{{ url_for('static', path='/copy.js') }}"></script>
</body>
</html>
